<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>X509plorer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    
</header>
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>